mobile_app/linux/flutter/generated_plugin_registrant.h
mobile_app/linux/flutter/generated_plugins.cmake
mobile_app/macos/Flutter/GeneratedPluginRegistrant.swift
mobile_app/windows/flutter/generated_plugin_registrant.cc
mobile_app/windows/flutter/generated_plugin_registrant.h
mobile_app/windows/flutter/generated_plugins.cmake
mobile_app/linux/flutter/generated_plugin_registrant.cc
mobile_app/.env
